.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Height can be adjusted as per your requirement */
    background-color: #f2f2f2; /* Background color can be adjusted as per your requirement */
    padding: 10px;
    box-sizing: border-box;
  
}
Link{
    text-decoration: none;
}